*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1em;
    font-family: "Inter";
}

.main_header{
    background-color: #A60038;
}
.main_header_nav{
    max-width: 96%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main_header_nav_logo{
    flex-basis: 33%;
    padding: 10px 150px;
}
.main_header_nav_links{
    flex-basis: 33%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}
.main_header_nav_links a{
    color: #FCAF66;
    text-shadow: 0px 0px 5px #EB1257;
    font-size: 25px;
}
.main_header_optin{
    display: flex;
    background-color: #FAF3D1;
    text-align: center;
    justify-content: center;
    padding: 7px 0;
}
.main_header_optin p{
    color: #A60038;
    font-weight: 500;
    flex-basis: 100%;
}

.publi{
    display: flex;
    flex-direction: column;
    background-image: url(img/cookies.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
    text-align: center;
}
.publi_text p{
    color: #FAF3D1;
    font-size: 60px;
    text-shadow: 0 0 5px #FCAF66;
    flex-basis: 100%;
    padding: 50px;
}
.publi_text_buttons{
    flex-basis: 100%;
}
.publi_text_buttons button{
    background-color: #FCAF66;
    padding: 5px;
    border: 0;
    border-radius: 2px;
    margin: 30px 20px;
    width: 15%;
    height: 50px;
}
.publi_text_buttons button:hover{
    opacity: 0.8;
    cursor: pointer;
}

.main_article{
    max-width: 96%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.main_article_content{
    flex-basis: 80%;
}
.main_article_content button{
    background-color: #FCAF66;
    padding: 5px;
    border: 0;
    border-radius: 2px;
    margin: 30px 20px;
    width: 15%;
    height: 50px;
}
.main_article_content button:hover{
    background-color: #ffca98;
    cursor: pointer;
}